.background-image{
    background-image: url(./images/cover_photo.jpg);
    filter: blur(5px);
-webkit-filter: blur(5px);
height: 100%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

